{% extends 'AdminBundle::layout.html.twig' %}
{% block content %}
    <h1>Каталог</h1>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="clearfix">
        <a href="{{ path('admin_objects_add') }}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Добавить</a>
    </div><br>

    <div class="clearfix">
        {% if filter_form is defined %}
            {% form_theme filter_form 'AdminBundle:Form:filter.fields.html.twig' %}
            {% if filter_form and filter_form.children|length %}
                <div class="clearfix">
                    <div class="clearfix" id="filter_form">
                        <form role="form" method="POST" {{ form_enctype(filter_form) }}>
                            {{ form_widget(filter_form) }}
                        </form>
                    </div>
                </div><br>
            {% endif %}
        {% endif %}
        <div class="clearfix table-top">
            <div class="col-sm-1 padding-5 col-xs-4 clearfix">
                <button class="btn btn-default">Всего: <b>{{ items.getTotalItemCount }}</b></button>
            </div>
            <div class="col-sm-1 padding-5 col-xs-4 clearfix">
                <label>Выводить по:</label>
            </div>
            <div class="col-sm-1 padding-5 col-xs-4 clearfix">
                <select id="on_page" class="form-control" title="Выводить по">
                    <option {% if on_page == 10 %}selected{% endif %} value="10">10</option>
                    <option {% if on_page == 20 %}selected{% endif %} value="20">20</option>
                    <option {% if on_page == 50 %}selected{% endif %} value="50">50</option>
                    <option {% if on_page == 100 %}selected{% endif %} value="100">100</option>
                    <option {% if on_page == 200 %}selected{% endif %} value="200">200</option>
                    <option {% if on_page == 500 %}selected{% endif %} value="500">500</option>
                    <option {% if on_page == 1000 %}selected{% endif %} value="1000">1000</option>
                </select>
            </div>
            <div class="col-sm-4 clearfix">
                <div class="input-group">
                    <input type="search" class="form-control items_search" placeholder="Поиск" value="{{ app.request.query.get('query') }}">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-primary" id="items_search">
                            <i class="fa fa-fw fa-search"></i> Найти
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 clearfix text-right">
                {{ knp_pagination_render(items) }}
            </div>
        </div><br>
        <div class="clearfix highlight table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Название</th>
                    <th>Тип объекта</th>
                    <th>Город</th>
                    <th>Цена</th>
                    <th>Опубликовано</th>
                    <th>Одобрено</th>
                    <th>Менеджер</th>
                    <th><i class="fa fa-picture-o"></i></th>
                    <th class="action">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for item in items if item %}
                    <tr{% if not item.Published %} class="info"{% elseif not item.Modered %} class="warning"{% endif %}>
                        <td>{{ item.id }}</td>
                        <td><a href="{{ path('admin_objects_edit', {'id': item.id}) }}" title="Редактировать">{{ item.title }}</a></td>
                        <td>{{ item.ObjectTypes.Title }}</td>
                        <td>{{ item.Towns.title }}</td>
                        <td>{{ item.price|number_format(0,'.',' ') }}</td>
                        <td>{% if item.Published %}<i class="fa fa-check"></i>{% endif %}</td>
                        <td>{% if item.modered %}<i class="fa fa-check"></i>{% endif %}</td>
                        <td>{{ item.User.Username }}</td>
                        <td><a href="{{ path('admin_objects_images', {'id': item.id}) }}" title="Перейти к фотографиям">Фотографий: {{ item.ObjectImagess|length }}</a></td>
                        <td class="action">
                            <a href="{{ path('site_catalog_object', {'id':item.id}) }}" title="На сайте" target="_blank"><i class="fa fa-share"></i></a>
                            <a href="{{ path('admin_objects_edit', {'id': item.id}) }}" title="Редактировать"><i class="fa fa-pencil"></i></a>
                            <a href="{{ path('admin_objects_copy', {'id': item.id}) }}" title="Копировать"><i class="fa fa-files-o"></i></a>
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                <a class="confirm-delete" href="" data-toggle="modal" data-target="#deleteModal" data-path="{{ path('admin_objects_delete', {'id': item.id}) }}" title="Удалить">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr><td colspan="10">Нет элементов</td></tr>
                {% endfor %}
                </tbody>
            </table>

            {# Modal #}
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title" id="deleteModalLabel"><i class="fa fa-fw fa-trash-o"></i> Удаление</h3>
                        </div>
                        <div class="modal-body">
                            Вы действительно хотите удалить элемент?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" id="btnYes">Удалить</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-offset-7 text-right clearfix">
            {{ knp_pagination_render(items) }}
        </div>

    </div>
    <a class="btn btn-default" href="{{ path('admin_default_index') }}" title="Назад"><span class="glyphicon glyphicon-arrow-left"></span> Назад</a>

{% endblock %}
