{% extends 'AdminBundle::layout.html.twig' %}
{% form_theme form 'AdminBundle:Form:fields.html.twig' %}

{% block content %}
    <h1>Настройки сайта</h1>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="clearfix">
        <div class="col-sm-offset-3 col-sm-4">
            <img class="photo_top" src="/images/logo_top.png">
        </div>
        <div class="col-sm-5">
            <img class="photo_bottom" src="/images/logo_bottom.png">
        </div>
    </div><br><br>

    {% if form %}
        <form class="form-horizontal" role="form" method="POST" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <div class="form-group clearfix">
                <div class="col-sm-3 clearfix"></div>
                <div class="col-sm-9 clearfix">
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
            </div>
        </form>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if form %}
        <script src="{{ asset('tinymce/tinymce.min.js') }}"></script>
        {{ form_javascript(form) }}
    {% endif %}
{% endblock %}
