{% extends 'SiteBundle::layout.html.twig' %}
{% block title %}Наши сотрудники | {{ settings.name }}{% endblock %}
{% block metatitle %}Наши сотрудники{% endblock %}
{% block content %}

    <div class="container clearfix padding-0">
		{% if agents|length > 0 %}
			<div class="clearfix catalog">
				<h1 class="padding-5">Наши сотрудники</h1><hr>
                {% for agent in agents if agent %}
                    <div class="col-sm-6 col-md-3 padding-0">
                        <div class="clearfix">
                            <div class="col-sm-5 padding-5">
                                <a href="{{ path('site_agent_agent', {'id': agent.id}) }}">
                                    <img class="img-circle img-responsive" src="/images/photo/{{ agent.photo }}" width="150" alt="{{ agent.username }}">
                                </a>
                            </div>
                            <div class="col-sm-7 padding-5">
                                <h4>{{ agent.username }}</h4>
                                {% if agent.position %}<h5>{{ agent.position }}</h5>{% endif %}
                            </div>
                        </div>
                    </div>
				{% endfor %}
			</div>
		{% endif %}	
    </div>

{% endblock %}