{% extends 'SiteBundle::layout.html.twig' %}
{% block title %}Каталог недвижимости{% if category %}: {{ category.title }}{% endif %} | {{ settings.name }}{% endblock %}
{% block metatitle %}{{ settings.title }}{% endblock %}
{% block description %}{{ settings.description }}{% endblock %}
{% block keywords %}{{ settings.keywords }}{% endblock %}
{% block content %}

    <div class="search_objects">
        {% if search_form %}{% embed "SiteBundle:Form:search_form.html.twig" %}{% endembed %}{% endif %}
    </div>

    <div class="container catalog clearfix">
        <div class="btn-group pull-right padding-5" role="group" aria-label="...">
		  {% if dir == 'asc' %}{% set ndir = 'desc' %}{% else %}{% set ndir = 'asc' %}{% endif %}
		  <a class="btn btn-primary" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({ dir : ndir })) }}">
				<i class="fa fa-fw fa-sort-amount-{{ dir }}"></i></a>
		  <div class="btn-group" role="group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  Сортировка <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
			  <li><a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({ sorting : 'price' })) }}">Цена{% if sort == 'price' %}<i class="fa fa-check fa-fw pull-right"></i>{% endif %}</a></li>
			  <li><a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({ sorting : 'title' })) }}">Название{% if sort == 'title' %}<i class="fa fa-check fa-fw pull-right"></i>{% endif %}</a></li>
			</ul>
		  </div>
		</div>
		<h1 class="padding-5">Каталог недвижимости{% if category %} <small>{{ category.title }}</small>{% endif %}</h1>        
		{#<h3>Обращаем Ваше внимание, что не все объекты находятся в открытом доступе.</h3>#}
        <div class="clearfix">
            {% set type = ['-','Продажа','Аренда'] %}            
            {% for item in catalog if item %}
                <div class="col-sm-6 col-md-4 col-lg-3 padding-5">
                    <div class="thumbnail">
                        <div class="sl_img">
                            <a href="{{ path('site_catalog_object', {'id':item.id}) }}">
                                <img src="{% if item.image %}/images/objects/{{ item.image.thumb }}{% else %}/images/no-photo.jpg{% endif %}" alt="{{ item.title }}">
                            </a>
						</div>
                        <div class="caption">
                            <h3 class="text-center nobreak">{{ item.title }}</h3>
                            <table class="table">
									<tr><td colspan="2" class="text-center">{{ item.ObjectTypes.title }}</td></tr>
									<tr><td class="text-center">{{ item.Towns.title }}</td><td class="text-center">{% if item.Areas %}{{ item.Areas.title }}{% endif %}</td></tr>
									<tr><td colspan="2" class="text-center red"><b>{{ item.price|number_format(0,'.',' ') }}</b><i class="fa fa-rub fa-fw"></i></td></tr>
								</table>
                            <div class="text-center"><a href="{{ path('site_catalog_object', {'id':item.id}) }}" class="btn btn-primary" role="button">Подробнее</a></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if catalog|length == 0 %}
                <div class="alert alert-default" role="alert">Нет объектов удовлетворяющих Вашему запросу</div>
            {% endif %}
        </div>
        {{ knp_pagination_render(catalog) }}        
    </div>

    {# Заявка #}
    <div class="text-center feddback_margin">
		<div class="container text-center feedback_f">
			<div class="col-sm-8 padding-0 tect-left">
				<h3>НЕ НАШЛИ ПОДХОДЯЩЕГО ВАРИАНТА?</h3>
			</div>
			<div class="col-sm-4 padding-0 text-right">
				<a class="btn btn-lg btn-default-o" href="#" data-toggle="modal" data-target="#feedback">Свяжитесь с нами</a>
			</div>				
		</div>
	</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}