{% extends 'SiteBundle::layout.html.twig' %}
{% block title %}Каталог недвижимости{% if category %}: {{ category.title }}{% endif %} | {{ settings.name }}{% endblock %}
{% block metatitle %}{{ settings.title }}{% endblock %}
{% block description %}{{ settings.description }}{% endblock %}
{% block keywords %}{{ settings.keywords }}{% endblock %}
{% block content %}

	<div class="container clearfix">
		<div class="col-md-3">
			<div class="search_objects">
				{% if search_form %}{% embed "SiteBundle:Form:search_form.html.twig" %}{% endembed %}{% endif %}
			</div>
		</div>
		<div class="col-md-9 catalog clearfix">
			<h1 class="padding-5">Каталог недвижимости{% if category %} <small>{{ category.title }}</small>{% endif %}</h1>
			<div class="clearfix">
				<div class="col-md-6 clearfix padding-0 padding-top-5">
					<div class="btn-group padding-5" role="group" aria-label="...">
						{% if dir == 'asc' %}{% set ndir = 'desc' %}{% else %}{% set ndir = 'asc' %}{% endif %}
						<a class="btn btn-primary" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({ dir : ndir })) }}">
							<i class="fa fa-fw fa-sort-amount-{{ dir }}"></i></a>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{% if sort == 'price' %}Цена{% elseif sort == 'title' %}Название{% else %}Сортировка{% endif %} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({ sorting : 'price' })) }}">Цена{% if sort == 'price' %}<i class="fa fa-check fa-fw pull-right"></i>{% endif %}</a></li>
								<li><a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({ sorting : 'title' })) }}">Название{% if sort == 'title' %}<i class="fa fa-check fa-fw pull-right"></i>{% endif %}</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-6 clearfix padding-0 text-right padding-top-5">{{ knp_pagination_render(catalog) }}</div>
			</div>
			{#<h3>Обращаем Ваше внимание, что не все объекты находятся в открытом доступе.</h3>#}
			<div class="clearfix padding-top-5">
				{% for item in catalog if item %}
					<div class="col-sm-6 col-md-4 padding-5">
						<div class="thumbnail">
							<a href="{{ path('site_catalog_object', {'id':item.id}) }}">
								<div class="sl_img" style="background-image:url('{% if item.image %}/images/objects/{{ item.image.thumb }}{% else %}/images/no-photo.jpg{% endif %}');"></div>
							</a>
							<div class="caption">
								<h4 class="text-center nobreak">{{ item.title }}</h4>
								<h5 class="text-center red"><b>{{ item.price|number_format(0,'.',' ') }}</b><i class="fa fa-rub fa-fw"></i></h5>
								<div class="plan_desc"><table class="table">
									<tr><td><b>{{ item.Towns.title }}</b></td><td>{% if item.Areas %}{{ item.Areas.title }}{% endif %}</td></tr>
									<tr><td colspan="2">{{ item.address }}</td></tr>
									{% for param in item.ObjectParamssForTable() if param %}
										{% if loop.index is odd %}<tr>{% endif %}
											<td>{{ param.ObjectTypesFields.filterName }}: <b>{{ param.valueNormalized }}{% if param.ObjectTypesFields.postfix %} {{ param.ObjectTypesFields.postfix }}{% endif %}</b></td>
										{% if loop.index is even %}</tr>{% endif %}
									{% endfor %}
								</table></div>
								<div class="text-center"><a href="{{ path('site_catalog_object', {'id':item.id}) }}" class="btn btn-primary" role="button">Подробнее</a></div>
							</div>
						</div>
					</div>
				{% endfor %}
				{% if catalog|length == 0 %}
					<div class="alert alert-default" role="alert">Нет объектов удовлетворяющих Вашему запросу</div>
				{% endif %}
			</div>
			<div class="clearfix">
				<div class="col-md-6 clearfix padding-5 padding-top-5"><span class="btn btn-primary">Всего объектов: <b>{{ catalog.getTotalItemCount }}</b></span></div>
				<div class="col-md-6 clearfix padding-0 text-right padding-top-5">{{ knp_pagination_render(catalog) }}</div>
			</div>
			{% if category %}
				{% if category.description %}
					<hr><div class="clearfix">{{ category.description|raw }}</div>
				{% endif %}
			{% endif %}
		</div>
	</div>

    {# Заявка #}
    <div class="text-center feddback_margin">
		<div class="container text-center feedback_f">
			<div class="col-sm-8 padding-0 tect-left">
				<h3>НЕ НАШЛИ ПОДХОДЯЩЕГО ВАРИАНТА?</h3>
			</div>
			<div class="col-sm-4 padding-0 text-right">
				<a class="btn btn-lg btn-default-o" href="#" data-toggle="modal" data-target="#feedback">Свяжитесь с нами</a>
			</div>				
		</div>
	</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}