<h3>Принята новая заявка с сайта {{ site }}:</h3>
<p>Имя: <b>{{ name }}</b></p>
<p>Телефон: <b>{{ phone }}</b></p>
{% if object %}<p>Объект: <b>#{{ object.id }} {{ object.title }}</b></p>{% endif %}
{% if consultant %}<p>Консультант: <b>{{ consultant.username }}</b></p>{% endif %}
