{% extends 'SiteBundle::layout.html.twig' %}
{% block title %}{{ object.title }} | {{ settings.name }}{% endblock %}
{% block metatitle %}{{ object.title }}{% endblock %}
{% block content %}

    <div class="container object clearfix padding-0">
        {# Хлебные крошки #}
        <div class="clearfix">
            <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li>
                    <a href="{{ path('site_catalog_index')}}"
                       title="Каталог недвижимости"
                       rel="v:url"
                       property="v:title">Каталог недвижимости</a>
                </li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemscope itemtype="http://schema.org/Thing" itemprop="item"
                       href="{{ path('site_catalog_alias', {'alias':object.ObjectTypes.alias})}}"
                       title="{{ object.ObjectTypes.title }}">
                        <span itemprop="name">{{ object.ObjectTypes.title }}</span>
                    </a>
                    <meta itemprop="position" content="2" />
                </li>
            </ol>
        </div>
        {% if not object.published %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>ВНИМАНИЕ!</strong> Данный объект недвижимости был снят с публикации
            </div>
        {% endif %}
        <div class="clearfix">
            <div class="col-sm-6">
                <h1>{{ object.title }}</h1>
                {% set type = ['-','Продажа','Аренда'] %}                
                <table class="table">
                    <tr><td>Тип сделки</td><td>{{ type[object.type] }}</td></tr>
                    <tr><td>Тип недвижимости</td><td>{{ object.ObjectTypes.title }}</td></tr>
                    <tr><td>Город</td><td>{{ object.Towns.title }}</td></tr>
                    {% if object.Areas %}<tr><td>Район</td><td>{{ object.Areas.title }}</td></tr>{% endif %}
                    {% if object.address %}<tr><td>Адрес</td><td>{{ object.address }}</td></tr>{% endif %}
                    {% for param in object.ObjectParamss() if param %}
                        <tr><td>{{ param.ObjectTypesFields.name }}</td><td>{{ param.valueNormalized }}{% if param.ObjectTypesFields.postfix %} {{ param.ObjectTypesFields.postfix }}{% endif %}</td></tr>
                    {% endfor %}
                    <tr><td>Цена объекта</td><td class="red"><b>{{ object.price|number_format(0,'.',' ') }}</b><i class="fa fa-rub fa-fw"></i></td></tr>
                </table>                
            </div>
			<div class="col-sm-6">
                {% if object.ObjectImagess|length %}
                    <div id="owl-images" class="owl-carousel owl-theme">
                        {% for item in object.ObjectImagess if item %}
                            <a class="imagelightbox" href="/images/objects/{{ item.path }}" data-exthumbimage="/images/objects/{{ item.path }}" data-sub-html="<h4>{{ object.title }}</h4><b>{{ object.price|number_format(0,'.',' ') }}</b><i class='fa fa-rub fa-fw'></i>">
                                <div class="item text-center" style="background-image:url('/images/objects/{{ item.path }}')"></div>
                            </a>
                        {% endfor %}
                    </div>
                    <div id="owl-thumbs" class="owl-carousel owl-theme">
                        {% for item in object.ObjectImagess if item %}
                            <div class="item text-center" style="background-image:url('/images/objects/{{ item.thumb }}')"></div>
                        {% endfor %}
                    </div>
                {% else %}
                    <img class="img-responsive" src="/images/realty.png" alt="{{ object.title }}">
                {% endif %}
            </div>
        </div>
        {% if object.published %}
            <div class="clearfix">
                {% if object.description %}
                    <div class="col-xs-12 clearfix">
                        {{ object.description | raw }}
                    </div>
                {% endif %}
                <div class="clearfix">
                    {% if object.address %}
                        <div class="col-sm-6 text-center">
                            <h3 class="text-left">На карте</h3>
                            <div id="map" data-coordinate="{{ object.coordinates }}"></div><br>
                        </div>
                    {% endif %}
                    {% if object.userId %}
                        <div class="col-sm-3 text-center">
                            <h3 class="text-center">Менеджер</h3>
                            <div id="owl-agents">
                                <div class="item text-center">
                                    <a href="{{ path('site_agent_agent', {'id': object.User.id}) }}" title="Перейти к информации о менеджере">
                                        <img class="img-circle" src="/images/photo/{{ object.User.photo }}" width="150" alt="{{ object.User.username }}">
                                    </a>
                                    <h4><a href="{{ path('site_agent_agent', {'id': object.User.id}) }}" title="Перейти к информации о менеджере">{{ object.User.username }}</a>{% if object.User.position %}<br><small>{{ object.User.position }}</small>{% endif %}</h4>
                                    {% if object.User.phone %}<h4><i class="fa fa-phone fa-fw"></i> <a href="tel:{{ object.User.phone }}" title="Позвонить">{{ object.User.phone }}</a></h4>{% endif %}
                                    <h4><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:{{ object.User.email }}" title="Написать письмо">{{ object.User.email }}</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 text-center">
                            <h3 class="text-center">Есть вопросы?</h3>
                            <form class="feedback_form">
                                <div class="fb_reload">
                                    <div class="form-group">
                                        <input type="hidden" name="object" value="{{ object.id }}">
                                        <input type="hidden" name="agent" value="{{ object.User.id }}">
                                        <input type="text" name="name" class="form-control input-lg" placeholder="Ваше имя" required="required">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="phone" class="form-control phone input-lg" placeholder="Телефон" required="required">
                                    </div>
                                    <div class="form-group">
                                        <textarea name="question" class="form-control input-lg" placeholder="Сообщение" rows="2"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary-o btn-lg antibtn">Получить консультацию</button>
                                        <h4>Это Бесплатно!</h4>
                                    </div>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% if catalog|length > 0 %}
			<div class="clearfix catalog">
				<h3 class="padding-5">Вас также может заинтересовать:</h3>
			{% for item in catalog if item %}
                <div class="col-sm-6 col-md-3 padding-5">
                    <div class="thumbnail">
                        <a href="{{ path('site_catalog_object', {'id':item.id}) }}">
                            <div class="sl_img" style="background-image:url('{% if item.image %}/images/objects/{{ item.image.thumb }}{% else %}/images/realty.png{% endif %}');"></div>
                        </a>
                        <div class="caption">
                            <h4 class="text-center nobreak">{{ item.title }}</h4>
                            <h5 class="text-center red"><b>{{ item.price|number_format(0,'.',' ') }}</b><i class="fa fa-rub fa-fw"></i></h5>
                            <div class="plan_desc"><table class="table">
                                    <tr><td><b>{{ item.Towns.title }}</b></td><td>{% if item.Areas %}{{ item.Areas.title }}{% endif %}</td></tr>
                                    <tr><td colspan="2">{{ item.address }}</td></tr>
                                    {% for param in item.ObjectParamssForTable() if param %}
                                        {% if loop.index is odd %}<tr>{% endif %}
                                        <td>{{ param.ObjectTypesFields.filterName }}: <b>{{ param.valueNormalized }}{% if param.ObjectTypesFields.postfix %} {{ param.ObjectTypesFields.postfix }}{% endif %}</b></td>
                                        {% if loop.index is even %}</tr>{% endif %}
                                    {% endfor %}
                                </table></div>
                            <div class="text-center"><a href="{{ path('site_catalog_object', {'id':item.id}) }}" class="btn btn-primary" role="button">Подробнее</a></div>
                        </div>
                    </div>
                </div>
				{% endfor %}
			</div>
		{% endif %}	
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            if ($("#owl-images").length) {
                $("#owl-images").lightGallery({selector: '.imagelightbox', thumbnail: true, exThumbImage: 'data-exthumbimage', hash: false});
            }
            var sync1 = $("#owl-images");
            var sync2 = $("#owl-thumbs");
            var slidesPerPage = 4;
            var syncedSecondary = true;

            sync1.owlCarousel({
                items: 1,
                slideSpeed: 2000,
                nav: true,
                autoplay: false,
                dots: false,
                loop: true,
                responsiveRefreshRate: 200,
                navText: ['<svg width="100%" height="100%" viewBox="0 0 11 20"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M9.554,1.001l-8.607,8.607l8.607,8.606"/></svg>', '<svg width="100%" height="100%" viewBox="0 0 11 20" version="1.1"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M1.054,18.214l8.606,-8.606l-8.606,-8.607"/></svg>'],
            }).on('changed.owl.carousel', syncPosition);

            sync2
                .on('initialized.owl.carousel', function() {
                    sync2.find(".owl-item").eq(0).addClass("current");
                })
                .owlCarousel({
                    items: slidesPerPage,
                    dots: false,
                    nav: true,
                    smartSpeed: 200,
                    slideSpeed: 500,
                    slideBy: slidesPerPage,
                    responsiveRefreshRate: 100,
                    navText: ['<svg width="100%" height="100%" viewBox="0 0 11 20"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M9.554,1.001l-8.607,8.607l8.607,8.606"/></svg>', '<svg width="100%" height="100%" viewBox="0 0 11 20" version="1.1"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M1.054,18.214l8.606,-8.606l-8.606,-8.607"/></svg>'],
                }).on('changed.owl.carousel', syncPosition2);

            function syncPosition(el) {
                var count = el.item.count - 1;
                var current = Math.round(el.item.index - (el.item.count / 2) - .5);
                if (current < 0) {
                    current = count;
                }
                if (current > count) {
                    current = 0;
                }
                sync2
                    .find(".owl-item")
                    .removeClass("current")
                    .eq(current)
                    .addClass("current");
                var onscreen = sync2.find('.owl-item.active').length - 1;
                var start = sync2.find('.owl-item.active').first().index();
                var end = sync2.find('.owl-item.active').last().index();
                if (current > end) {
                    sync2.data('owl.carousel').to(current, 100, true);
                }
                if (current < start) {
                    sync2.data('owl.carousel').to(current - onscreen, 100, true);
                }
            }

            function syncPosition2(el) {
                if (syncedSecondary) {
                    var number = el.item.index;
                    sync1.data('owl.carousel').to(number, 100, true);
                }
            }

            sync2.on("click", ".owl-item", function(e) {
                e.preventDefault();
                var number = $(this).index();
                sync1.data('owl.carousel').to(number, 300, true);
            });

        });
    </script>
    {% if object.address %}
        <script src="//api-maps.yandex.ru/2.1/?lang=ru-RU&load=package.full" type="text/javascript"></script>
        <script>
            ymaps.ready(init);
            function init() {
                var myMap;
				if ($('#map').data('coordinate')) {
					coords = $('#map').data('coordinate').split(",");
					var coord = [];
					coord[0] = parseFloat(coords[1]);
					coord[1] = parseFloat(coords[0]);
					myMap = new ymaps.Map('map', {
						center: coord,
						zoom: 15,
						controls: ['zoomControl', 'fullscreenControl']
					}, {
						suppressMapOpenBlock: true
					});
                    myMap.behaviors.disable('scrollZoom');
					myMap.geoObjects.add(new ymaps.Placemark(coord, {}, {
						iconLayout: 'default#image',
						iconImageHref: '/images/placemark.png',
						iconImageSize: [50, 50],
						iconImageOffset: [-25, -50]
					}));					
				}
            }
        </script>
    {% endif %}
{% endblock %}