{% extends '::base.html.twig' %}
{% block head %}

    {% block stylesheets %}
        {{ parent() }}
        {% stylesheets '@bootstrap_css' '@SiteBundle/Resources/public/css/*'  %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    {% endblock %}

{% endblock %}

{% block body %}

        {# Шапка #}
        <div class="container">
            <div class="masthead">
                <div class="clearfix text-center">
                    <div class="col-xs-6 col-sm-3 padding-0 text-left"><a href="{{ path('site_default_index') }}"><img class="logo" src="/images/logo_top.png" alt="{{ settings.name }}" title="{{ settings.name }}"></a></div>
                    <div class="col-xs-6 col-sm-3 padding-5 text-right"><div class="address">{{ settings.city }}<br>{{ settings.address }}</div></div>
                    <div class="col-xs-6 col-sm-3 padding-5 text-right"><div class="our_phones">{{ settings.phone }}<br>{{ settings.phoneTwo }}</div></div>
                    <div class="col-xs-6 col-sm-3 padding-0 text-right">
                        <a class="btn btn-primary btn-feedback" data-toggle="modal" data-target="#feedback"><i class="fa fa-phone fa-fw hidden-xs"></i> Заказать звонок</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu">
            <div class="container masthead">
                <nav class="navbar">                    
                    <div class="navbar-header text-center">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						  <span class="sr-only">Меню</span>
						  <span class="icon-bar"></span>
						  <span class="icon-bar"></span>
						  <span class="icon-bar"></span>            
						</button>
						<a class="navbar-brand" href="{{ path('site_default_index') }}"><img src="/images/logo_top.png" alt="{{ settings.name }}" title="{{ settings.name }}"></a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav nav-non-fixed">
                            <li class="dropdown{% if app.request.attributes.get('_route') in ['site_catalog_index','site_catalog_object'] %} active{% endif %}">
							  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Каталог <span class="caret"></span></a>
							  <ul class="dropdown-menu">
								{% for cat in categories if cat %}
								    <li><a href="{{ path('site_catalog_alias', {'alias':cat.alias})}}">{{ cat.title }}</a></li>
								{% endfor %}
                                <li><a href="{{ path('site_catalog_index', {'type': 2})}}">Аренда недвижимости</a></li>
							  </ul>
							</li>
                            {% for menu in menus[0:1] %}
                                {% if menu.Pagess|length or menu.MenusesRelatedById|length %}
                                    {% if menu.MenusesRelatedById|length %}
                                        <li class="dropdown-toggle"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ menu.title }} <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                {% for submenu in menu.MenusesRelatedById if submenu %}
                                                    <li><a  class="text-nowrap" href="{{ path('site_default_page', {'alias':submenu.Pagess[0].alias}) }}">{{ submenu.title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% elseif menu.Pagess[0] is defined %}
                                        <li{% if app.request.attributes.get('alias') == menu.Pagess[0].alias %} class="active"{% endif %}>
                                            <a  class="text-nowrap" href="{{ path('site_default_page', {'alias':menu.Pagess[0].alias}) }}">{{ menu.title }}</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <li{% if app.request.attributes.get('_route') in ['site_agent_index','site_agent_agent'] %} class="active"{% endif %}>
                                <a class="text-nowrap" href="{{ path('site_agent_index') }}">Сотрудники</a>
                            </li>
                            {% for menu in menus[1:] %}
                                {% if menu.Pagess|length or menu.MenusesRelatedById|length %}
                                    {% if menu.MenusesRelatedById|length %}
                                        <li class="dropdown-toggle"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ menu.title }} <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                {% for submenu in menu.MenusesRelatedById if submenu %}
                                                    <li><a  class="text-nowrap" href="{{ path('site_default_page', {'alias':submenu.Pagess[0].alias}) }}">{{ submenu.title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% elseif menu.Pagess[0] is defined %}
                                        <li{% if app.request.attributes.get('alias') == menu.Pagess[0].alias %} class="active"{% endif %}>
                                            <a  class="text-nowrap" href="{{ path('site_default_page', {'alias':menu.Pagess[0].alias}) }}">{{ menu.title }}</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
						<ul class="nav navbar-nav nav-fixed">
                            <li class="dropdown">
							  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Меню <span class="caret"></span></a>
							  <ul class="dropdown-menu">
                                  <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Каталог</a>
                                      <ul class="dropdown-menu">
                                          {% for cat in categories if cat %}
                                              <li><a href="{{ path('site_catalog_alias', {'alias':cat.alias})}}">{{ cat.title }}</a></li>
                                          {% endfor %}
                                          <li><a href="{{ path('site_catalog_index', {'type':2})}}">Аренда недвижимости</a></li>
                                      </ul>
                                  </li>
                                  <li class="divider"></li>
                                  {% for menu in menus[0:1] %}
                                      {% if menu.Pagess|length or menu.MenusesRelatedById|length %}
                                          {% if menu.MenusesRelatedById|length %}
                                              <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ menu.title }}</a>
                                                  <ul class="dropdown-menu">
                                                      {% for submenu in menu.MenusesRelatedById if submenu %}
                                                          <li><a href="{{ path('site_default_page', {'alias':submenu.Pagess[0].alias}) }}">{{ submenu.title }}</a></li>
                                                      {% endfor %}
                                                  </ul>
                                              </li>
                                          {% elseif menu.Pagess[0] is defined %}
                                              <li><a href="{{ path('site_default_page', {'alias':menu.Pagess[0].alias}) }}">{{ menu.title }}</a></li>
                                          {% endif %}
                                      {% endif %}
                                  {% endfor %}
                                  <li{% if app.request.attributes.get('_route') in ['site_agent_index','site_agent_agent'] %} class="active"{% endif %}>
                                      <a class="text-nowrap" href="{{ path('site_agent_index') }}">Сотрудники</a>
                                  </li>
                                  {% for menu in menus[1:] %}
                                      {% if menu.Pagess|length or menu.MenusesRelatedById|length %}
                                          {% if menu.MenusesRelatedById|length %}
                                              <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ menu.title }}</a>
                                                  <ul class="dropdown-menu">
                                                      {% for submenu in menu.MenusesRelatedById if submenu %}
                                                          <li><a href="{{ path('site_default_page', {'alias':submenu.Pagess[0].alias}) }}">{{ submenu.title }}</a></li>
                                                      {% endfor %}
                                                  </ul>
                                              </li>
                                          {% elseif menu.Pagess[0] is defined %}
                                              <li><a href="{{ path('site_default_page', {'alias':menu.Pagess[0].alias}) }}">{{ menu.title }}</a></li>
                                          {% endif %}
                                      {% endif %}
                                  {% endfor %}
							  </ul>
							</li>
                        </ul>
                        <form class="navbar-form navbar-right" action="{{ path('site_default_search')}}">
							<div class="input-group">
							  <input type="text" class="form-control" name="search" placeholder="Поиск...">
							  <span class="input-group-btn">
								<button class="btn btn-primary-o" type="submit"><i class="fa fa-search fa-fw"></i></button>
							  </span>
							</div>
					    </form>
                        <a class="btn btn-primary navbar-right navbar-feedback" data-toggle="modal" data-target="#feedback"><i class="fa fa-phone fa-fw hidden-xs"></i> Заказать звонок</a>
                        {% if settings.phoneTwo %}
                            <ul class="nav navbar-nav navbar-right hidden-sm hidden-md">
                                <li><a href="tel:{{ settings.phoneTwo }}" class="our_phones">{{ settings.phoneTwo }}</a></li>
                            </ul>
                        {% endif %}
                        {% if settings.phone %}
                            <ul class="nav navbar-nav navbar-right hidden-sm">
                                <li><a href="tel:{{ settings.phone }}" class="our_phones">{{ settings.phone }}</a></li>
                            </ul>
                        {% endif %}
                    </div>                    
                </nav>
            </div>
        </div>

        {# Содержимое #}
        <div class="content">{% block content %}{% endblock %}</div>

        {# Подвал #}
        <footer class="footer">
            <div class="container clearfix">
                <div class="col-sm-4 padding-0 clearfix">
                    <div class="clearfix">
                        <img src="/images/logo_bottom.png" class="pull-left" alt="{{ settings.name }}" title="{{ settings.name }}">
                        <h4>{{ settings.name }}</h4>
                        <p>{{ settings.copyright }}</p>
                    </div>
                    <div class="social-icon clearfix text-right">
                        <ul class="social-network">
                            {% if settings.facebook %}
                                <li><a href="{{ settings.facebook }}" class="fb tool-tip" title="Facebook" target="_blank"><i
                                            class="fa fa-fw fa-facebook"></i></a></li>{% endif %}
                            {% if settings.twitter %}
                                <li><a href="{{ settings.twitter }}" class="twitter tool-tip" title="Twitter" target="_blank"><i
                                            class="fa fa-fw fa-twitter"></i></a></li>{% endif %}
                            {% if settings.google %}
                                <li><a href="{{ settings.google }}" class="gplus tool-tip" title="Google Plus" target="_blank"><i
                                            class="fa fa-fw fa-google-plus"></i></a></li>{% endif %}
                            {% if settings.vk %}
                                <li><a href="{{ settings.vk }}" class="vk tool-tip" title="ВКонтакте" target="_blank"><i
                                            class="fa fa-fw fa-vk"></i></a></li>{% endif %}
                            {% if settings.instagram %}
                                <li><a href="{{ settings.instagram }}" class="instagram tool-tip" title="Instagram" target="_blank"><i
                                            class="fa fa-fw fa-instagram"></i></a></li>{% endif %}
                            {% if settings.linkedin %}
                                <li><a href="{{ settings.linkedin }}" class="linkedin tool-tip" title="Linkedin" target="_blank"><i
                                            class="fa fa-fw fa-linkedin"></i></a></li>{% endif %}
                            {% if settings.youtube %}
                                <li><a href="{{ settings.youtube }}" class="ytube tool-tip" title="You Tube" target="_blank"><i
                                            class="fa fa-fw fa-youtube-play"></i></a></li>{% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8 clearfix">
					<div class="col-sm-4 padding-5 clearfix hidden-xs">
                        <ul class="nav navbar-nav">
                            <li><a><b>Каталог</b></a></li>
                            {% for cat in categories if cat %}
								<li><a href="{{ path('site_catalog_alias', {'alias':cat.alias})}}">{{ cat.title }}</a></li>
							{% endfor %}
                            <li><a href="{{ path('site_catalog_index', {'type':2})}}">Аренда недвижимости</a></li>
						</ul>
					</div>
					<div class="col-sm-4 padding-5 clearfix">
						<ul class="nav navbar-nav hidden-xs">
                            <li><a><b>Меню</b></a></li>
                            {% for menu in menus[0:1] if menu %}
                                {% if menu.Pagess|length %}
                                    {% if menu.Pagess[0] is defined %}
                                        <li>
                                            <a class="text-nowrap text-uppercase text-bold" href="{{ path('site_default_page', {'alias':menu.Pagess[0].alias}) }}">{{ menu.title }}</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <li>
                                <a class="text-nowrap text-uppercase text-bold" href="{{ path('site_agent_index') }}">Сотрудники</a>
                            </li>
                            {% for menu in menus[1:5] if menu %}
                                {% if menu.Pagess|length %}
                                    {% if menu.Pagess[0] is defined %}
                                        <li>
                                            <a class="text-nowrap text-uppercase text-bold" href="{{ path('site_default_page', {'alias':menu.Pagess[0].alias}) }}">{{ menu.title }}</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <br>
                            <li><a href="{{ path('admin_default_index') }}" title="Вход для сотрудников" target="_blank"><i class="fa fa-sign-in fa-fw"></i> Вход для сотрудников</a></li>
						</ul>
                    </div>
                    <div class="col-sm-4 padding-5 clearfix hidden-xs faw">
                        <i class="fa fa-map-marker fa-fw"></i> {{ settings.city }}<br>
                        {{ settings.address }}<br><br>
                        <i class="fa fa-phone fa-fw"></i> <a href="#" class="btn-feedback" data-toggle="modal" data-target="#feedback" title="Заказать обратный звонок">Заказать звонок</a>
                        <a class="our_phones" href="tel:{{ settings.phone }}" title="Позвонить">{{ settings.phone }}</a><br>
                        {% if settings.phoneTwo %}
                            <a class="our_phones" href="tel:{{ settings.phoneTwo }}" title="Позвонить">{{ settings.phoneTwo }}</a><br>
                        {% endif %}<br>
                        <i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:{{ settings.email }}" title="Написать письмо">{{ settings.email }}</a>
                    </div>
                </div>
            </div>
        </footer>

        {# Модальное окно #}
        <div class="modal fade" id="feedback" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <form class="feedback_form">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title text-center"><i class="fa fa-phone"></i> Обратный звонок</h3>
                        </div>
                        <div class="modal-body fb_reload">
                            <div class="form-group">
                                <label>Ваше имя:</label>
								<input type="text" name="name" class="form-control input-lg" required="required">
                            </div>
                            <div class="form-group">
                                <label>Телефон:</label>
								<input type="text" name="phone" class="form-control phone input-lg" required="required">
                            </div>
							<div class="checkbox">
								<label>
								  <input type="checkbox" checked> Я согласен на обработку персональных данных
								</label>
							</div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-lg antibtn">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        {# Модальное окно #}
        <div class="modal fade" id="feedback_c" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <form class="feedback_form">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title text-center">Получить консультацию</h4>
                        </div>
                        <div class="modal-body fb_reload">
                            <div class="photo text-center"></div>
                            <div class="form-group">
                                <input type="text" name="name" class="form-control input-lg" placeholder="Имя" required="required">
                            </div>
                            <div class="form-group">
                                <input type="text" name="phone" class="form-control phone input-lg" placeholder="Телефон" required="required">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger btn-lg antibtn">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@jquery_js' '@bootstrap_js' '@SiteBundle/Resources/public/js/*'  %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}