{% extends 'AdminBundle::layout.html.twig' %}
{% if form is defined %}{% form_theme form 'AdminBundle:Form:fields.html.twig' %}{% endif %}

{% block content %}
    <h1>{% if title is defined %}{{ title }}{% else %}Добавление / Редактирование{% endif %}{% if parent is defined %} <small>{{ parent }}</small>{% endif %}</h1>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% if photo is defined and photo %}
        <div class="clearfix">
            <div class="col-sm-offset-3 col-sm-2">
                <img class="photo_top" src="{{ photo }}"><br><br>
            </div>
        </div>
    {% endif %}

    {% if form is defined %}
        {% if form %}
            <div id="form">
                <form class="form-horizontal" role="form" method="POST" {{ form_enctype(form) }}>
                    {{ form_widget(form) }}
                    <div class="form-group clearfix">
                        <div class="col-sm-3 clearfix"></div>
                        <div class="col-sm-9 clearfix">
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
            {#<div class="alert alert-success" role="alert"><b>Внимание!</b><br>Поля выделенные зеленым цветом обязательны для заполнения.<br>Для генератора используйте <b>{ID}</b>, где ID - это идентификатор (номер) характеристики (см.ниже в таблице колонку ID). Например, <b>{1}-комн. квартира {5}/{6}/{7} м² {8} эт.</b><br>Для объектов и планировок идентификаторы характеристик разные, не перепутайте.</div>#}
        {% endif %}
    {% endif %}

    {% embed "@Admin/Form/ex.fields.html.twig" %}{% endembed %}
    {% embed "@Admin/Form/ex.values.html.twig" %}{% endembed %}
    {% embed "@Admin/Form/layouts.fields.html.twig" %}{% endembed %}
    {% embed "@Admin/Form/layouts.values.html.twig" %}{% endembed %}
    {% embed "@Admin/Form/layouts.html.twig" %}{% endembed %}

    {% if back is defined %}<a class="btn btn-default" href="{{ back }}"><i class="fa fa-arrow-left fa-fw"></i> Назад</a>{% endif %}

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="deleteModalLabel"><i class="fa fa-fw fa-trash-o"></i> Удаление</h3>
                </div>
                <div class="modal-body">
                    Вы действительно хотите удалить элемент?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="btnYes">Удалить</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if form %}
        <script src="{{ asset('tinymce/tinymce.min.js') }}"></script>
        {{ form_javascript(form) }}
    {% endif %}
    <script>
        $('td, th', '#sortFixed').each(function () {
            var cell = $(this);
            cell.width(cell.width());
        });

        $('#sortFixed tbody').sortable({
            items: '> tr',
            handle: '.handle',
            stop: function () {
                $('body').css('cursor','wait');
                var sortedIDs = $( "#sortFixed tbody" ).sortable( "toArray" );
                $.ajax({
                    type : "POST",
                    url : $('#sortFixed').data('sort'),
                    data : {
                        array : sortedIDs
                    },
                    success : function () {
                        location.reload();
                    }
                });
            }
        }).disableSelection();
    </script>

{% endblock %}